doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    link(href='/css/style.css', rel='stylesheet')
    block styles
  body.container.no-js
    noscript
      .alert.alert-danger.text-center
        strong Susy Demo require JavaScript! Please enable it in your browser.

    block content

    if env === 'development'
      script(data-main='/js/main', src='/components/requirejs/require.js')
    else
      script(src='/js/all.js')
