extends _layout

block content
  h1 Hello from Industry Week!

  #example-view.alert.alert-dismissable.alert-success
    button.close(type='button', data-dismiss='alert')
      span(aria-hidden='true') &times;
      span.sr-only Close
    span.message
